
.vtoroe {
width:1%  ;
height:1% ;
background: green;
}
.vtoroe:hover { 
transition: 10s;
width:50%  ;
height:50% ;
background: blue;
}




























































































































































































































































































































































































































































































































































